@-webkit-keyframes purpleGlowTo {
  0% {box-shadow: 0px 0px 3px var(--purple); background-color: var(--purple);}
  100% {box-shadow: 0px 0px 40px #9883AA; background-color: #9883AA;}
}

@-webkit-keyframes purpleGlowFrom {
  0% {box-shadow: 0px 0px 40px #9883AA; background-color: #9883AA;}
  100% {box-shadow: 0px 0px 3px var(--purple); background-color: var(--purple);}
}

.purpleGlowButton {
  background-color: var(--purple);

  box-shadow: 0px 0px 3px var(--purple);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: purpleGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.purpleGlowButton:hover {
  background-color: #9883AA;
  -webkit-animation-name: purpleGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #9883AA;
}


@-webkit-keyframes redGlowTo {
  0% {box-shadow: 0px 0px 3px var(--red);}
  100% {box-shadow: 0px 0px 40px var(--red);}
}

@-webkit-keyframes redGlowFrom {
  0% {box-shadow: 0px 0px 40px var(--red);}
  100% {box-shadow: 0px 0px 3px var(--red);}
}

.redGlowButton {
  background-color: var(--red);

  box-shadow: 0px 0px 3px var(--red);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: redGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.redGlowButton:hover {
  -webkit-animation-name: redGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px var(--red);
}



@-webkit-keyframes yellowGlowTo {
  0% {box-shadow: 0px 0px 3px var(--yellow);}
  100% {box-shadow: 0px 0px 40px var(--yellow);}
}

@-webkit-keyframes yellowGlowFrom {
  0% {box-shadow: 0px 0px 40px var(--yellow);}
  100% {box-shadow: 0px 0px 3px var(--yellow);}
}

.yellowGlowButton {
  background-color: var(--yellow);

  box-shadow: 0px 0px 3px var(--yellow);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: yellowGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.yellowGlowButton:hover {
  -webkit-animation-name: yellowGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px var(--yellow);
}

.yellowGlowButton {
  background-color: var(--yellow);

  box-shadow: 0px 0px 3px var(--yellow);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: yellowGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.yellowGlowButton:hover {
  -webkit-animation-name: yellowGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px var(--yellow);
}
