@-webkit-keyframes purpleGlowTo {
  0% {
    box-shadow: 0px 0px 3px #5E3D7A;
    background-color: #5E3D7A;
  }
  100% {
    box-shadow: 0px 0px 40px #9883AA;
    background-color: #9883AA;
  }
}
@-webkit-keyframes purpleGlowFrom {
  0% {
    box-shadow: 0px 0px 40px #9883AA;
    background-color: #9883AA;
  }
  100% {
    box-shadow: 0px 0px 3px #5E3D7A;
    background-color: #5E3D7A;
  }
}
.purpleGlowButton {
  background-color: #5E3D7A;
  box-shadow: 0px 0px 3px #5E3D7A;
  cursor: pointer;
  color: white !important;
  -webkit-animation-name: purpleGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.purpleGlowButton:hover {
  background-color: #9883AA !important;
  -webkit-animation-name: purpleGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #9883AA;
}

@-webkit-keyframes redGlowTo {
  0% {
    box-shadow: 0px 0px 3px #A23736;
    background-color: #A23736;
  }
  100% {
    box-shadow: 0px 0px 40px #DDB6BB;
    background-color: #DDB6BB;
  }
}
@-webkit-keyframes redGlowFrom {
  0% {
    box-shadow: 0px 0px 40px #DDB6BB;
    background-color: #DDB6BB;
  }
  100% {
    box-shadow: 0px 0px 3px #A23736;
    background-color: #A23736;
  }
}
.redGlowButton {
  background-color: #A23736;
  box-shadow: 0px 0px 3px #A23736;
  cursor: pointer;
  color: white !important;
  -webkit-animation-name: redGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.redGlowButton:hover {
  background-color: #DDB6BB !important;
  -webkit-animation-name: redGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #DDB6BB;
}

@-webkit-keyframes yellowGlowTo {
  0% {
    box-shadow: 0px 0px 3px #CEE857;
    background-color: #CEE857;
  }
  100% {
    box-shadow: 0px 0px 40px #F1FFB7;
    background-color: #F1FFB7;
  }
}
@-webkit-keyframes yellowGlowFrom {
  0% {
    box-shadow: 0px 0px 40px #F1FFB7;
    background-color: #F1FFB7;
  }
  100% {
    box-shadow: 0px 0px 3px #CEE857;
    background-color: #CEE857;
  }
}
.icon.rounded.big.yellowGlowButton {
  background-color: #CEE857;
  box-shadow: 0px 0px 3px #CEE857;
  cursor: pointer;
  color: white !important;
  -webkit-animation-name: yellowGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.yellowGlowButton:hover {
  background-color: #F1FFB7 !important;
  -webkit-animation-name: yellowGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #F1FFB7;
}

@-webkit-keyframes blueGlowTo {
  0% {
    box-shadow: 0px 0px 3px #5FA5AF;
    background-color: #5FA5AF;
  }
  100% {
    box-shadow: 0px 0px 40px #C4DEE1;
    background-color: #C4DEE1;
  }
}
@-webkit-keyframes blueGlowFrom {
  0% {
    box-shadow: 0px 0px 40px #C4DEE1;
    background-color: #C4DEE1;
  }
  100% {
    box-shadow: 0px 0px 3px #5FA5AF;
    background-color: #5FA5AF;
  }
}
.icon.rounded.big.blueGlowButton {
  background-color: #5FA5AF;
  box-shadow: 0px 0px 3px #5FA5AF;
  cursor: pointer;
  color: white !important;
  -webkit-animation-name: blueGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.blueGlowButton:hover {
  background-color: #C4DEE1 !important;
  -webkit-animation-name: blueGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #C4DEE1;
}

@-webkit-keyframes greenGlowTo {
  0% {
    box-shadow: 0px 0px 3px #4EAA8B;
    background-color: #4EAA8B;
  }
  100% {
    box-shadow: 0px 0px 40px #A2D9C6;
    background-color: #A2D9C6;
  }
}
@-webkit-keyframes greenGlowFrom {
  0% {
    box-shadow: 0px 0px 40px #A2D9C6;
    background-color: #A2D9C6;
  }
  100% {
    box-shadow: 0px 0px 3px #4EAA8B;
    background-color: #4EAA8B;
  }
}
.icon.rounded.big.greenGlowButton {
  background-color: #4EAA8B;
  box-shadow: 0px 0px 3px #4EAA8B;
  cursor: pointer;
  color: white !important;
  -webkit-animation-name: greenGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.greenGlowButton:hover {
  background-color: #A2D9C6 !important;
  -webkit-animation-name: greenGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #A2D9C6;
}
