@-webkit-keyframes purpleGlowTo {
  0% {box-shadow: 0px 0px 3px var(--purple); background-color: var(--purple);}
  100% {box-shadow: 0px 0px 40px #9883AA; background-color: #9883AA;}
}

@-webkit-keyframes purpleGlowFrom {
  0% {box-shadow: 0px 0px 40px #9883AA; background-color: #9883AA;}
  100% {box-shadow: 0px 0px 3px var(--purple); background-color: var(--purple);}
}

.icon.rounded.big.purpleGlowButton {
  background-color: var(--purple);

  box-shadow: 0px 0px 3px var(--purple);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: purpleGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.purpleGlowButton:hover {
  background-color: #9883AA !important;
  -webkit-animation-name: purpleGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #9883AA;
}


@-webkit-keyframes redGlowTo {
  0% {box-shadow: 0px 0px 3px var(--red); background-color: var(--red);}
  100% {box-shadow: 0px 0px 40px #B25B67; background-color: #B25B67;}
}

@-webkit-keyframes redGlowFrom {
  0% {box-shadow: 0px 0px 40px #B25B67; background-color: #B25B67;}
  100% {box-shadow: 0px 0px 3px var(--red); background-color: var(--red);}
}

.icon.rounded.big.redGlowButton {
  background-color: var(--red);

  box-shadow: 0px 0px 3px var(--red);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: redGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.redGlowButton:hover {
  -webkit-animation-name: redGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px #B25B67;

  background-color: #B25B67 !important;
}



@-webkit-keyframes yellowGlowTo {
  0% {box-shadow: 0px 0px 3px var(--yellow);}
  100% {box-shadow: 0px 0px 40px var(--yellow);}
}

@-webkit-keyframes yellowGlowFrom {
  0% {box-shadow: 0px 0px 40px var(--yellow);}
  100% {box-shadow: 0px 0px 3px var(--yellow);}
}

.icon.rounded.big.yellowGlowButton {
  background-color: var(--yellow);

  box-shadow: 0px 0px 3px var(--yellow);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: yellowGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.yellowGlowButton:hover {
  -webkit-animation-name: yellowGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px var(--yellow);
}




@-webkit-keyframes blueGlowTo {
  0% {box-shadow: 0px 0px 3px var(--blue);}
  100% {box-shadow: 0px 0px 40px var(--blue);}
}

@-webkit-keyframes blueGlowFrom {
  0% {box-shadow: 0px 0px 40px var(--blue);}
  100% {box-shadow: 0px 0px 3px var(--blue);}
}

.icon.rounded.big.blueGlowButton {
  background-color: var(--blue);

  box-shadow: 0px 0px 3px var(--blue);

  cursor: pointer;
  color: white !important;

  -webkit-animation-name: blueGlowFrom;
  -webkit-animation-duration: 1500ms;
}

.icon.rounded.big.blueGlowButton:hover {
  -webkit-animation-name: blueGlowTo;
  -webkit-animation-duration: 1500ms;
  box-shadow: 0px 0px 40px var(--blue);
}
